.login{
    
}
.ball_icon{
    display: inline-block;
    width: 20px;
    height: 20px;
    background: url('../../assets/ball_icon.png') no-repeat;
    background-size: 20px 20px;
}
.vue_icon{
    display: inline-block;
    width: 40px;
    height: 40px;
    background: url('../../assets/vue-favicon.jpg') no-repeat;
    background-size: 40px 40px;
}
.JavaScript_icon{
    display: inline-block;
    width: 40px;
    height: 40px;
    background: url('../../assets/JavaScript_icon.png') no-repeat;
    background-size: 40px 40px;
}
.typescript_icon{
    display: inline-block;
    width: 40px;
    height: 40px;
    background: url('../../assets/typescript_icon.png') no-repeat;
    background-size: 40px 40px;
}
.node_icon{
    display: inline-block;
    width: 40px;
    height: 40px;
    background: url('../../assets/node_icon.png') no-repeat;
    background-size: 40px 40px;
}
.css3_icon{
    display: inline-block;
    width: 40px;
    height: 40px;
    background: url('../../assets/css3_icon.png') no-repeat;
    background-size: 40px 40px;
}
.sass_icon{
    display: inline-block;
    width: 60px;
    height: 40px;
    background: url('../../assets/sass_icon.png') no-repeat;
    background-size: 40px 40px;
}
.less_icon{
    display: inline-block;
    width: 60px;
    height: 40px;
    background: url('../../assets/less_icon.png') no-repeat;
    background-size: 40px 40px;
}
.stylus_icon{
    display: inline-block;
    width: 40px;
    height: 40px;
    background: url('../../assets/stylus_icon.png') no-repeat;
    background-size: 40px 40px;
}