.study{
    width: 100%;
    height: 100%;
    .fade-enter-active {
        animation: show 1s;
    }
    @keyframes show {
        0% {
            top: -60px;
            left: 0;
        }
        100% {
            top: 0;
            left: 0;
        }
    }
    .fade-leave-active {
        animation: hide 1s;
    }
    @keyframes hide {
        0% {
            top: 0;
            left: 0;
        }
        100% {
            top: -60px;
            left: 0;
        }
    }
    
    &-content{
        width: 100%;
        height: 100%;
        display: flex;
        .content-menu{
            width: 13%;
            height: 100vh;
            display: flex;
            flex-direction: column;
            overflow-y: auto;
            .menu-title{
                width: 100%;
                height: 200px;
                border-radius: 50%;
                background: black;
            }
            .el-menu{
                // width: 100%;
                
            }
            // .el-menu-vertical-demo:not(.el-menu--collapse) {
            //     width: 200px;
            //     min-height: 400px;
            // }
        }
        .content-list{
            flex:1;
            background: blue;
        }
    }
}

