.el-header{
    background: #409EFF;
    display: flex;
    justify-content: space-between;
    .role{
        width: 200px;
        display: flex;
        justify-content: center;
        align-items: center;
        &-photo{
            display: inline-block;
            width: 30px;
            height: 30px;
            border-radius: 50%;
            border:1px solid #ccc;
        }
        &-name{
            margin-left: 20px;
        }
    }
}